body {
  padding: 0;
  margin: 0;
}
.app-container {
  height: 100vh;
  background: url("./components/timer//images/bg.jpg") center center/cover
    no-repeat;
  position: relative;
}
.timer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
